.form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0;
    gap: 8px;

    position: absolute;
    width: 46rem;
    height: 3.3rem;
    left: calc(50% - 23rem);
    top: 11rem;
    background: transparent;
}

.form input{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1rem;
    gap: 8px;
    
    width: 40rem;
    height: 3rem;

    background: var(--gray-500);
    border: 1px solid var(--gray-700);
    border-radius: 8px;
}

.form button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 5.5rem;
    height: 3rem;
    border: none;
    border-radius: 8px;
    gap: 6px;
    background: var(--blue-dark);

    transition: background-color 0,1s;
}

.form button:hover{
    background: var(--blue);
}

.form button svg{
    background: var(--blue-dark);
}

.form button:hover svg{
    background: var(--blue);
}

.form button:disabled{
    opacity: 0.7;
    cursor: not-allowed;
}

.task{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0;

    position: absolute;
    width: 46rem;
    height: 28rem;
    left: calc(50% - 23rem);
    top: 18rem;
}

.taskInfo{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 27.5rem;
    padding: 0;
    width: 46rem;
    height: 1rem;
    position: absolute;
}

.createdTasksLabel{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    width: 8.5rem;
    height: 1rem;
    white-space: nowrap;

    font-weight: bold;
    font-size: 1rem;
    line-height: 1rem;
    color: var(--blue);
    position: relative;
}

.completedTasksLabel{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    gap: 8px;
    width: 8.5rem;
    height: 1rem;
    white-space: nowrap;

    font-weight: bold;
    font-size: 1rem;
    line-height: 1rem;
    color: var(--purple);
    position: relative;
}

.createdTasksCounter{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.8rem 1rem;
    gap: 8px;
    width: 1.5rem;
    height: 1rem;

    background: var(--gray-400);
    color: var(--gray-200);
    border-radius: 999px;
    position: relative;
}

.completedTasksCounter{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.8rem 2rem;
    gap: 8px;
    width: 1.5rem;
    height: 1rem;

    background: var(--gray-400);
    color: var(--gray-200);
    border-radius: 999px;
    position: relative;
}

.taskBox{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem 0;
    gap: 1.5rem;

    position: absolute;
    width: 46rem;
    height: 18rem;
    left: calc(50% - 23rem);
    top: 2.5rem;
    border-top: 1px solid var(--gray-400);
}

.taskContent{
    gap: 1rem;
}